/*
Shims for Flexbox - should work on Safari and IE10+
*/
.display-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@font-face {
  font-family: "Lora";
  font-weight: normal;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Lora");
}
@font-face {
  font-family: "Lora Bold";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Lora:700");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
}
@font-face {
  font-family: "Source Sans Pro Bold";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700");
}
@font-face {
  font-family: "Source Sans Pro Bold";
  font-weight: 900;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:900");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  touch-action: manipulation;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 21px;
  line-height: 1.58;
  color: #000;
  font-family: "Lora", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iframe {
  border: none;
}
main {
  display: block;
}
img {
  width: 100%;
}
a {
  color: #EC1C24;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #c51017;
}
a img {
  border: none;
}
a :hover {
  color: #c51017;
}
hr {
  margin-top: 2em;
  border-top: 1px solid #ccc;
  border-bottom: none;
  width: 75%;
}
.max {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}
.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  text-align: center;
  font-family: "Source Sans Pro Bold", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-hed.padded {
  padding-top: 10px;
}
p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
}
@media (max-width: 480px) {
  p {
    font-size: 0.8em;
  }
}
li {
  max-width: 650px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  li {
    margin: 0 5px;
  }
}
.author {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.date {
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
}
header {
  background: #000;
  /*  -webkit-box-shadow: 0 0 6px 0 @gray;
  -moz-box-shadow: 0 0 6px 0 @gray;
  box-shadow: 0 0 6px 0 @gray;*/
}
header a {
  text-decoration: none;
}
header .logo {
  float: left;
  padding: 6px 0 0 8px;
  margin: 0;
}
header .logo img {
  vertical-align: text-bottom;
  width: 180px;
}
@media (max-width: 490px) {
  header .logo {
    display: none;
  }
}
header::after {
  clear: both;
  content: " ";
  display: block;
}
header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  height: 37px;
}
header .link {
  padding: 5px 10px 0 7px;
  vertical-align: 3px;
  font-size: 18px;
  font-family: "Source Sans Pro Bold", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
header .link.social {
  float: right;
  margin: 0 6px;
  padding: 4px 2px;
}
header .link.email {
  margin-right: 10px;
}
header .logo-link {
  cursor: pointer;
  margin: 0 0 0 10px;
  vertical-align: 0;
}
header .logo-link img {
  opacity: 1;
  height: 20px;
}
.link,
.logo-link {
  display: inline-block;
}
.caption {
  text-align: left;
  font-family: "Source Sans Pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;
}
.caption.landing {
  margin-bottom: 2.5em;
}
.byline {
  color: #000;
  font-style: italic;
}
.background-img {
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  z-index: 1;
}
@media (max-width: 480px) {
  .background-img {
    height: 640px;
  }
}
.full-width-img {
  margin: 2em auto;
  width: 100%;
}
.full-width-img img {
  width: 100%;
}
.inline-img {
  max-width: 730px;
  margin: 2em auto;
}
.inline-img .caption {
  padding: 0;
}
@media (max-width: 768px) {
  .inline-img .caption {
    padding: 0 10px;
  }
}
footer {
  background: #222222;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  clear: both;
}
footer .logo {
  float: left;
  margin-right: 10px;
}
footer .logo img {
  padding: 10px 0;
  width: 180px;
  vertical-align: bottom;
}
footer::after {
  clear: both;
  content: " ";
  display: block;
}
.credits {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "Source Sans Pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 80%;
}
@media (max-width: 480px) {
  .credits {
    width: 100%;
  }
}
.credits .entry {
  padding-bottom: 10px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  display: none;
  /*for now*/
}
body {
  background: #fff;
}
.white-background {
  background-color: #fff;
  margin-bottom: 2em;
}
@media (max-width: 380px) {
  .shrink-mobile {
    font-size: 1.2rem;
  }
}
#background-line-down-middle {
  position: fixed;
  height: 0;
  top: 0;
  left: 50%;
  width: 1px;
  border-right: 2px solid #000;
  z-index: -1;
  transition: height .5s;
  transition-delay: 1s;
  pointer-events: none;
  transform: translate3d(-2px, 0, 0);
}
#background-line-down-middle.active {
  height: 80vh;
}
#end-middle-line {
  display: block;
  width: 100%;
  height: 1px;
  position: static;
}
#skrollr-body {
  background-image: url(assets/folder-stacked-background2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.active {
  opacity: 1;
}
#topper {
  padding-top: 20rem;
  padding-bottom: 0rem;
}
#topper h1 {
  font-size: 4rem;
  background-size: contain;
  width: 500px;
  height: 183px;
}
#topper p.deck {
  font-size: 1rem;
}
#topper .title {
  padding: 0rem;
}
blockquote {
  margin: 2em auto;
  max-width: 700px;
}
blockquote q {
  font-size: 2.53rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
}
blockquote cite {
  font-family: "Source Sans Pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#headers-appear {
  color: #fff;
  font-size: 7rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
#headers-appear h3 {
  transition: opacity .5s;
  opacity: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  line-height: 3rem;
  padding: 18px;
  margin: 0;
}
#headers-appear h3.active {
  opacity: 1;
}
#headers-appear h3:nth-child(1) {
  transition-delay: 0.0s;
}
#headers-appear h3:nth-child(2) {
  transition-delay: 1.5s;
}
#headers-appear h3:nth-child(3) {
  transition-delay: 3s;
}
#headers-appear h3:nth-child(4) {
  transition-delay: 4.5s;
}
#headers-appear h3:nth-child(5) {
  transition-delay: 6s;
}
#fifth {
  margin-top: 10rem;
}
.inline-asset-header {
  text-align: center;
  max-width: 300px;
  margin: 0 auto 20px;
}
.inline-asset-header .caption {
  margin-top: 0;
}
.inline-asset-header .credit {
  color: #808080;
}
.explainer-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 20px;
}
.explainer-header .caption {
  margin-top: 0;
}
.explainer-header .credit {
  color: #808080;
}
.portrait {
  float: right;
  max-width: 400px;
  margin: 0 0 10px 10px;
}
article p {
  font-size: 18px;
}
@font-face {
  font-family: "Upstater";
  font-weight: normal;
  font-style: normal;
  src: local('Upstater'), url("assets/fonts/Upstater-Regular.woff");
}
@font-face {
  font-family: "Upstater Shadow";
  font-weight: normal;
  font-style: normal;
  src: local('Upstater Shadow'), url("assets/fonts/Upstater-Shadow.woff");
}
.hamburger {
  background: none;
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.cross {
  background: none;
  position: absolute;
  display: none;
  top: 18px;
  right: 0;
  height: 30px;
  padding: 7px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.menu {
  z-index: 1;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  font-family: "Upstater";
  font-size: 1.5em;
  width: 100%;
  background: #f1f1f1;
  position: fixed;
  top: 76px;
  display: none;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  max-width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
.menu ul li a:hover {
  color: #666;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #666;
}
.menu a:hover {
  text-decoration: none;
  color: #666;
}
.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}
header {
  position: fixed;
  background: #1D1F24;
  height: 77px;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  align-items: center;
  transition: 1s all;
}
header .logo-link {
  flex: 0 0 77px;
  margin-left: 20px;
}
header .logo-link a {
  font-family: "Upstater";
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 0;
}
header .link.social {
  padding: 0;
}
header .link.social a {
  color: #fff;
}
header .tagline {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #D8D8D8;
}
@media (max-width: 480px) {
  header .tagline {
    max-width: 160px;
    font-size: 11px;
    margin-top: -5px;
  }
}
header .social-links {
  position: fixed;
  right: 0;
}
#bottom-nav {
  background: #fff;
}
#bottom-nav .bottom-stories {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#bottom-nav .bottom-hr {
  width: 75%;
  margin-top: 3em;
  border-top: 3px solid #333;
}
#bottom-nav .bottom-story {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #bottom-nav .bottom-story {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
#bottom-nav .bottom-title {
  font-family: "Upstater";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 25px;
}
#bottom-nav .bottom-deck {
  font-family: "Source Sans Pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
@media (max-width: 480px) {
  #bottom-nav .bottom-deck {
    font-size: 12px;
  }
}
#bottom-nav .bottom-top-info {
  text-align: center;
  margin-bottom: 1.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#bottom-nav .bottom-top-title {
  font-family: "Upstater";
  letter-spacing: 1px;
  font-size: 3em;
  line-height: 1;
  padding-left: 20px;
}
#bottom-nav .bottom-top-deck {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  max-width: 230px;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 12px;
}
@media (max-width: 480px) {
  #bottom-nav .bottom-top-deck {
    text-align: center;
  }
}
#bottom-nav .bottom-top-link {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
#bottom-nav .bottom-top-link a {
  border-bottom: 1px solid ;
}
#bottom-nav .bottom-button a {
  cursor: pointer;
  margin-top: 1em;
  font-size: 11px;
  border: none;
  padding: 0;
  color: red;
  font-family: "Source Sans Pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
#bottom-nav .bottom-button a:hover {
  text-shadow: 1px 1px 1px #ccc;
}
#bottom-nav hr {
  margin: 0 auto;
  padding: 2em 0 1em;
  border-top: 2px solid #ccc;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
footer {
  color: #fff;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: 0 -2px 6px 0px rgba(0, 0, 0, 0.3);
}
footer .footer-content {
  padding: 4em 1em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
@media (max-width: 768px) {
  footer .footer-content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
footer .footer-title {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}
footer .footer-title .footer-hed {
  font-family: "Upstater";
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0;
}
footer .footer-title .footer-deck {
  font-size: 15px;
}
footer .footer-about {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
footer .footer-about h4 {
  margin: 0;
}
@media (max-width: 480px) {
  footer .footer-about h4 {
    margin-top: 20px;
  }
}
footer .footer-about a {
  color: #fff;
  border-bottom: 2px solid #ccc;
}
footer .footer-about-text {
  font-size: 16px;
}
footer .footer-content {
  margin-bottom: 5em;
}
@media (max-width: 480px) {
  footer .footer-content {
    margin-bottom: 2em;
  }
}
footer .footer-bottom {
  font-size: 12px;
  border-top: 1px solid #a0a0a0;
  padding: 15px 10%;
  margin: 0;
}
